* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
}
body {
    background-color: rgb(16, 16, 24);
}

#containerWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar-left {
    width: 20%;
    height: 100vh;
    background-color: rgb(18, 18, 38);
    box-shadow: rgba(0, 0, 0, 0.382) 2px 1px 3px 1px;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-inline: auto;
}

.nav-links {
    width: 90%;
    height: 10vh;
    margin: 1rem 0 1rem 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.482) 2px 1px 3px 3px;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.nav-links:hover {
    background-color: rgb(226, 109, 12);
    transition-duration: 0.25s;
}

#logoHeader {
    width: 90%;
    height: 10vh;
    margin: 1rem 0 1rem 0;
    width: 90%;
    height: 10vh;
    margin: 2rem 0 1rem 0;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.main-area {
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 4fr;
    position: absolute;
    width: 80%;
    height: 100%;
    align-self: flex-end;
    text-align: center;
    gap: 0;
}

.main-images {
    align-items: center;
    margin-inline: auto;
    height: 15rem;
    aspect-ratio: 1/1;
    justify-content: center;
}

.case-images {
    align-items: center;
    margin-inline: auto;
    height: 13rem;
    aspect-ratio: 14/10;
    justify-content: center;
}
#moneyTapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1/2;
}
#caseTapper {
    display: flex;
    margin: 2%;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2/2;
}
.main-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.center-text {
    margin: 5px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 187, 0);
}

.main-images:hover {
    cursor: pointer;
    align-items: center;
    margin-inline: auto;
    height: 16rem;
    aspect-ratio: 1/1;
    justify-content: center;
    transition-duration: 1s;
}

.nav-a {
    text-align: center;
    width: inherit;
    height: inherit;
    margin-inline: auto;
    cursor: pointer;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
}
