.shop-area {
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    width: 75vw;
    height: 100%;
    align-self: flex-end;
    text-align: center;
    gap: 20px;
    margin-top: 2vh;
    margin-left: 22.5vw;
    margin-bottom: 2vh;
}

.shop-item-image {
    height: 12vh;
    width: 8vw;
    justify-content: center;
    text-align: center;
}

.shop-item > img:hover {
    height: 12.2vh;
    width: 8.2vw;
    transition-duration: 0.5s;
}

.shop-item {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(255, 255, 255, 0.267) 0px 0px 8px 1px;
    border-radius: 1rem;
    align-items: center;
    padding: 4%;
}
